In [1]:

import pandas as pd
from logic.factory_manage.sql import load_data_from_sqlite

# CSVãƒ•ã‚¡ã‚¤ãƒ«èª­ã¿è¾¼ã¿ï¼ˆãƒ‘ã‚¹ã¯é©å®œå¤‰æ›´ï¼‰
path = "/work/app/data/factory_manage/weight_data.db"
df = load_data_from_sqlite()
df.head()

        ä¼ç¥¨æ—¥ä»˜          å“å    æ­£å‘³é‡é‡
0 2020-01-04      æ··åˆå»ƒæ£„ç‰©A   790.0
1 2020-01-04      æ··åˆå»ƒæ£„ç‰©A   870.0
2 2020-01-04      æ··åˆå»ƒæ£„ç‰©A   450.0
3 2020-01-04  æ··åˆå»ƒæ£„ç‰©ï¼ˆç„¼å´ç‰©ï¼‰  2400.0
4 2020-01-04      æ··åˆå»ƒæ£„ç‰©A   250.0

In [2]:

# ğŸ” å¿…è¦ãª3åˆ—ã ã‘æŠ½å‡º
cols_to_check = ["ä¼ç¥¨æ—¥ä»˜", "æ­£å‘³é‡é‡", "å“å"]
df_subset = df[cols_to_check].copy()

# â‘  å…ˆé ­æ•°è¡Œ
print("âœ… å…ˆé ­ã®ç¢ºèª")
display(df_subset.head())

# â‘¡ ãƒ‡ãƒ¼ã‚¿å‹ç¢ºèª
print("\nâœ… ãƒ‡ãƒ¼ã‚¿å‹")
print(df_subset.dtypes)

# â‘¢ æ¬ æå€¤ã®ç¢ºèª
print("\nâœ… æ¬ æå€¤ã®æœ‰ç„¡")
print(df_subset.isnull().sum())

# â‘£ åŸºæœ¬çµ±è¨ˆé‡ï¼ˆæ­£å‘³é‡é‡ï¼‰
print("\nâœ… æ­£å‘³é‡é‡ã®åˆ†å¸ƒ")
print(df_subset["æ­£å‘³é‡é‡"].describe())

# â‘¤ å“åã®ç¨®é¡ï¼ˆä¸Šä½10ç¨®ï¼‰
print("\nâœ… å“åã®å‡ºç¾é »åº¦")
print(df_subset["å“å"].value_counts().head(10))

# â‘¥ æ—¥ä»˜ã®å¤‰æ›ã¨ç¯„å›²
df_subset["ä¼ç¥¨æ—¥ä»˜"] = pd.to_datetime(df_subset["ä¼ç¥¨æ—¥ä»˜"], errors="coerce")
print("\nâœ… æ—¥ä»˜ã®ç¯„å›²")
print(f"{df_subset['ä¼ç¥¨æ—¥ä»˜'].min()} ï½ {df_subset['ä¼ç¥¨æ—¥ä»˜'].max()}")

âœ… å…ˆé ­ã®ç¢ºèª

        ä¼ç¥¨æ—¥ä»˜    æ­£å‘³é‡é‡          å“å
0 2020-01-04   790.0      æ··åˆå»ƒæ£„ç‰©A
1 2020-01-04   870.0      æ··åˆå»ƒæ£„ç‰©A
2 2020-01-04   450.0      æ··åˆå»ƒæ£„ç‰©A
3 2020-01-04  2400.0  æ··åˆå»ƒæ£„ç‰©ï¼ˆç„¼å´ç‰©ï¼‰
4 2020-01-04   250.0      æ··åˆå»ƒæ£„ç‰©A

âœ… ãƒ‡ãƒ¼ã‚¿å‹
ä¼ç¥¨æ—¥ä»˜    datetime64[ns]
æ­£å‘³é‡é‡           float64
å“å              object
dtype: object

âœ… æ¬ æå€¤ã®æœ‰ç„¡
ä¼ç¥¨æ—¥ä»˜    0
æ­£å‘³é‡é‡    0
å“å      0
dtype: int64

âœ… æ­£å‘³é‡é‡ã®åˆ†å¸ƒ
count    226845.000000
mean        522.808398
std         607.279475
min         -10.000000
25%         110.000000
50%         320.000000
75%         720.000000
max       11650.000000
Name: æ­£å‘³é‡é‡, dtype: float64

âœ… å“åã®å‡ºç¾é »åº¦
å“å
æ··åˆå»ƒæ£„ç‰©A         96145
æ··åˆå»ƒæ£„ç‰©B         23013
é¸åˆ¥             12969
ãã®ä»–            11242
ï¼§ï¼£ã€€è»½é‰„ãƒ»ã‚¹ãƒï¼ãƒ«é¡    11174
æœ¨ããš            10612
æ··åˆå»ƒæ£„ç‰©ï¼ˆç„¼å´ç‰©ï¼‰      5397
GC è»½é‰„ï½¥ï½½ï¾ï½°ï¾™é¡     3705
è»½é‡ç‰©ç³»ã€€ï¼¢          3328
è»½é‡ç‰©ç³»ã€€ï¼¡          2909
Name: count, dtype: int64

âœ… æ—¥ä»˜ã®ç¯„å›²
2020-01-04 00:00:00 ï½ 2025-05-26 00:00:00