## 初期値

In [2]:
import os

os.chdir("/work/app")

# %% 準備
import pandas as pd
from utils.logger import app_logger
from utils.config_loader import get_template_config
from logic.manage.utils.csv_loader import load_all_filtered_dataframes
from logic.controllers.csv_controller import apply_expected_dtypes
from logic.manage.utils.load_template import load_master_and_template
from IPython.display import display
import re
from logic.manage.factory_report import process
from logic.manage.utils.excel_tools import create_label_rows_generic, sort_by_cell_row

# 表示ラベルマップ（処理対象名として使う）
csv_label_map = {"yard": "ヤード一覧", "shipping": "出荷一覧", "receive": "受入一覧"}

debug_receive = "/work/app/data/output/debug_receive.parquet"
debug_shipping = "/work/app/data/output/debug_shipping.parquet"
debug_yard = "/work/app/data/output/debug_yard.parquet"

dfs = {
    "receive": pd.read_parquet(debug_receive),
    "shipping": pd.read_parquet(debug_shipping),
    "yard": pd.read_parquet(debug_yard),
}  # テスト用CSV
# dfs
df_shipping = dfs["shipping"]
df_yard = dfs["yard"]

2025-05-08 09:52:55,218 [INFO] (__init__.py:24) [dd3b4088c738/root] ✅ factory_report.py の process 関数を登録しました
2025-05-08 09:52:55,232 [INFO] (__init__.py:24) [dd3b4088c738/root] ✅ balance_sheet.py の process 関数を登録しました
2025-05-08 09:52:55,253 [INFO] (__init__.py:24) [dd3b4088c738/root] ✅ average_sheet.py の process 関数を登録しました
2025-05-08 09:52:55,259 [INFO] (__init__.py:24) [dd3b4088c738/root] ✅ management_sheet.py の process 関数を登録しました
2025-05-08 00:52:55.516 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager

In [3]:
from utils.value_setter import set_value_fast,set_value_fast_safe

### Process

In [4]:
# 処理の統合
def process1(dfs: dict) -> pd.DataFrame:
    logger = app_logger()
    """
    Streamlitの選択に基づき、工場日報（処分パート）を処理するエントリーポイント関数。
    """

    logger = app_logger()

    # --- テンプレート設定の取得 ---
    template_key = "balance_sheet"
    template_config = get_template_config()[template_key]
    template_name = template_config["key"]
    csv_keys = template_config["required_files"]
    logger.info(f"[テンプレート設定読込] key={template_key}, files={csv_keys}")

    # --- CSVの調整・読み込み ---
    dfs = apply_expected_dtypes(dfs, template_key)
    df_dict = load_all_filtered_dataframes(dfs, csv_keys, template_name)
    df_receive = df_dict.get("receive")
    df_shipping = df_dict.get("shipping")
    df_yard = df_dict.get("yard")

    # --- ① マスターCSVの読み込み ---
    config = get_template_config()["balance_sheet"]
    master_path = config["master_csv_path"]["factory"]
    master_csv = load_master_and_template(master_path)


    return df_receive, df_yard, df_shipping, master_csv


df_receive, df_yard, df_shipping ,master_csv= process1(dfs)

2025-05-08 09:52:55,714 [INFO] (1895370545.py:15) [dd3b4088c738/root] [テンプレート設定読込] key=balance_sheet, files=['receive', 'yard', 'shipping']
2025-05-08 09:52:55,769 [INFO] (csv_controller.py:42) [dd3b4088c738/root] ✅ 型を適用しました: shipping
2025-05-08 09:52:55,783 [INFO] (csv_controller.py:42) [dd3b4088c738/root] ✅ 型を適用しました: yard

In [5]:
display(df_receive.head())
display(df_yard.head())
display(df_shipping.head())
display(master_csv)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

   種類名           品名  正味重量
0  処分費           選別    80
1  有価物           GD   110
2  有価物  GC 軽鉄･ｽﾁｰﾙ類   810
3  有価物  GC 軽鉄･ｽﾁｰﾙ類   310
4  処分費        混合廃棄物   480

   業者CD        業者名      金額          品名   正味重量
0  8327       丸源起業  305140    混合廃棄物(A)  13870
1  5238  東京ﾎﾞｰﾄﾞ工業   18340         木くず   2620
2     1       ｵﾈｽﾄ       0  金属くず ｼｭﾚｯﾀ    730
3     1       ｵﾈｽﾄ       0         鉄千地   1460
4   747         宮崎    3500     ﾀﾞﾝﾎﾞｰﾙ    250

   大項目  セル    値
0  搬出量  E6  NaN
1  処分費  E7  NaN
2  有価物  E8  NaN

In [6]:
def process2(df_receive, df_yard, df_shipping):
    # --- 個別処理 ---
    logger.info("▶️ 搬出量データ処理開始")
    master_csv_facotry = process_factory_report(dfs)

    logger.info("▶️ 処分費データ処理開始")
    master_csv_facotry = process_syobun_cost(df_yard, df_shipping)
    display(master_csv_facotry)

    return

## 排出量（工場日報から）

In [6]:

def reflect_total_from_factory(master_csv, df_factory):
    from utils.value_setter import set_value_fast,set_value_fast_safe
    total_sum = df_factory.loc[df_factory["大項目"] == "総合計", "値"].squeeze()

    match_columns = ["大項目"]
    match_value = ["搬出量"]
    master_csv=set_value_fast_safe(master_csv, match_columns, match_value, total_sum)

    return master_csv

In [7]:

def process_factory_report(dfs,master_csv):
    logger = app_logger()
    from logic.manage.factory_report import process
    from utils.value_setter import set_value_fast,set_value_fast_safe


    # 工場日報からdfを読込
    df_factory = process(dfs)

    # 搬出量を抜出
    after_master_csv = reflect_total_from_factory(master_csv, df_factory)

    return after_master_csv


master_csv1 = process_factory_report(dfs,master_csv)
master_csv1

2025-05-02 15:42:31,079 [INFO] (factory_report.py:27) [dd3b4088c738/root] [テンプレート設定読込] key=factory_report, files=['yard', 'shipping']
2025-05-02 15:42:31,101 [INFO] (factory_report.py:35) [dd3b4088c738/root] ▶️ 出荷処分データ処理開始
/work/app/utils/data_cleaning.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['8339' '5238' '8340' '8085' '6421' '8337' '8215' '8336' '8327' '8327'
 '8327' '8327' '705' '1185' '8076' '8077' '5199' '8334' '6797' '8338'
 '8341' '8080' '349' '6786' '5227' '8329' '8360' '8363' '8398' '8679'
 '339' '8082']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[valid, col] = df.loc[valid, col].apply(lambda x: str(int(float(x))))
2025-05-02 15:42:31,147 [INFO] (factory_report_shobun.py:40) [dd3b4088c738/root] ✅ 出荷処分の帳票生成が完了しました。
2025-05-02 15:42:31,148 [INFO] (factory_report.py:38) [dd3b4088c738/root] ▶️ 出荷有価データ処理開始
2025-05-02 15:42:31,176 [INFO] (summary_tools.py:132) [dd3b4088c738/root] ▶️ 処理対象シート: ヤード, キー: ['品名'], 集計列: 正味重量
2025-05-02 15:42:31,191 [INFO] (summary_tools.py:132) [dd3b4088c738/root] ▶️ 処理対象シート: 出荷, キー: ['品名'], 集計列: 正味重量
2025-05-02 15:42:31,208 [INFO] (summary_tools.py:132) [dd3b4088c738/root] ▶️ 処理対象シート: 出荷, キー: ['業者名', '品名'], 集計列: 正味重量
2025-05-02 15:42:31,227 [INFO] (summary_tools.py:132) [dd3b4088c738/root] ▶️ 処理対象シート: 出荷, キー: ['現場名', '運搬業者名', '品名'], 集計列: 正味重量

2025-05-02 15:42:31,247 [INFO] (factory_report_yuuka.py:56) [dd3b4088c738/root] ✅ 出荷有価の帳票生成が完了しました。
2025-05-02 15:42:31,249 [INFO] (factory_report.py:41) [dd3b4088c738/root] ▶️ 出荷ヤードデータ処理開始
2025-05-02 15:42:31,280 [INFO] (summary_tools.py:132) [dd3b4088c738/root] ▶️ 処理対象シート: ヤード, キー: ['種類名'], 集計列: 正味重量
2025-05-02 15:42:31,297 [INFO] (summary_tools.py:132) [dd3b4088c738/root] ▶️ 処理対象シート: ヤード, キー: ['種類名', '品名'], 集計列: 正味重量
2025-05-02 15:42:31,317 [INFO] (summary_tools.py:132) [dd3b4088c738/root] ▶️ 処理対象シート: 出荷, キー: ['業者名', '品名'], 集計列: 正味重量
2025-05-02 15:42:31,336 [INFO] (factory_report_yard.py:44) [dd3b4088c738/root] ✅ 出荷ヤードの帳票生成が完了しました。
2025-05-02 15:42:31,337 [INFO] (factory_report.py:45) [dd3b4088c738/root] 🧩 各処理結果を結合中...
2025-05-02 15:42:31,371 [DEBUG] (factory_report.py:59) [dd3b4088c738/root]
              大項目   セル             値 カテゴリ
0              月日   O1         3月31日  NaN
1              和暦   M1          令和7年  NaN
2                  F19       紙、ダンボール   有価
3                  I19        ペットボトル   有価
4                  C19         スクラップ   有価
5                  L19          アルミ類   有価
6            アルミ類  L20         450.0   有価
7         紙、ダンボール  F20         250.0   有価
8          ペットボトル  I20         190.0   有価
9           スクラップ  C20         670.0   有価
10                 I21          モーター   有価
11                 F21          トランス   有価
12                 L21         ラジエター   有価
13          合計_有価  O21       21350.0   有価
14                 C21         ステンレス   有価
15          ステンレス  C22           0.0   有価
16           トランス  F22           0.0   有価
17           モーター  I22           0.0   有価
18          ラジエター  L22           0.0   有価
19                 F23          アルミ缶   有価
20                 C23            雑線   有価
21                 L23           室外機   有価
22                 I23            千地   有価
23             千地  I24        1460.0   有価
24            室外機  L24           0.0   有価
25           アルミ缶  F24          60.0   有価
26             雑線  C24           0.0   有価
27                 I25    塩ﾋﾞ管(ｸﾞﾚｰ)   有価
28                 F25            配線   有価
29                 C25             銅   有価
30                 L25      GB(ｷﾞﾛA)   有価
31              銅  C26           0.0   有価
32             配線  F26        2270.0   有価
33       GB(ｷﾞﾛA)  L26       16000.0   有価
34     塩ﾋﾞ管(ｸﾞﾚｰ)  I26           0.0   有価
35                 C27         Cﾌﾟﾚｽ   有価
36                 F27           給湯器   有価
37                 I27         スチール缶   有価
38            給湯器  F28           0.0   有価
39          スチール缶  I28           0.0   有価
40          Cﾌﾟﾚｽ  C28           0.0   有価
41                 F29         東京ボード   処分
42                 L29        松岡環境開発   処分
43                 I29          木材開発   処分
44                 C29          共同土木   処分
45           木材開発  I30        2680.0   処分
46           共同土木  C30        2780.0   処分
47          東京ボード  F30       10420.0   処分
48         松岡環境開発  L30           0.0   処分
49                 F31            丸幸   処分
50                 L31          新潟環境   処分
51                 I31          杉田建材   処分
52       合計_処分ヤード  O31       79780.0  NaN
53                 C31         アクトリー   処分
54          アクトリー  C32           0.0   処分
55             丸幸  F32           0.0   処分
56           杉田建材  I32       13280.0   処分
57           新潟環境  L32           0.0   処分
58                 L33     丸源企業（ C ）   処分
59                 I33     丸源企業（ B ）   処分
60                 F33     丸源企業（ A ）   処分
61                 C33     丸源企業（ S ）   処分
62      丸源企業（ S ）  C34           0.0   処分
63      丸源企業（ A ）  F34       13870.0   処分
64      丸源企業（ C ）  L34           0.0   処分
65      丸源企業（ B ）  I34       10600.0   処分
66                 I35            高野   処分
67                 L35          トクヤマ   処分
68                 F35    築館ｸﾘｰﾝｾﾝﾀｰ   処分
69                 C35      北陸環境サービス   処分
70       北陸環境サービス  C36           0.0   処分
71     築館ｸﾘｰﾝｾﾝﾀｰ  F36           0.0   処分
72             高野  I36           0.0   処分
73           トクヤマ  L36           0.0   処分
74                 C37        砂町アスコン   処分
75                 F37      ｱﾙﾌｧﾌｫﾙﾑ   処分
76                 I37           FDS   処分
77                 L37         ﾌｼﾞｺｰ   処分
78          ﾌｼﾞｺｰ  L38           0.0   処分
79            FDS  I38           0.0   処分
80       ｱﾙﾌｧﾌｫﾙﾑ  F38       12710.0   処分
81         砂町アスコン  C38           0.0   処分
82                 C39  ｸﾘｰﾝﾃｯｸｼｵｶﾞｲ   処分
83                 F39        ﾃﾞｲ・ｼｲ   処分
84                 I39       TREｶﾞﾗｽ   処分
85                 L39            浜屋   処分
86             浜屋  L40           0.0   処分
87        TREｶﾞﾗｽ  I40           0.0   処分
88         ﾃﾞｲ・ｼｲ  F40           0.0   処分
89   ｸﾘｰﾝﾃｯｸｼｵｶﾞｲ  C40           0.0   処分
90                 C41         東港金属　   処分
91                 F41    ﾂﾈｲｼｶﾑﾃｯｸｽ   処分
92                 I41          国分商会   処分
93                 L41     ｴｺ･ﾏｲﾆﾝｸﾞ   処分
94      ｴｺ･ﾏｲﾆﾝｸﾞ  L42           0.0   処分
95           国分商会  I42           0.0   処分
96          東港金属　  C42           0.0   処分
97     ﾂﾈｲｼｶﾑﾃｯｸｽ  F42           0.0   処分
98                 F43    市原ﾆｭｰｴﾅｼﾞｰ   処分
99                 C43         東瀝青建設   処分
100                I43       西部ｻｰﾋﾞｽ   処分
101                L43         ｸﾞﾗﾝﾏ   処分
102    市原ﾆｭｰｴﾅｼﾞｰ  F44           0.0   処分
103         東瀝青建設  C44           0.0   処分
104         ｸﾞﾗﾝﾏ  L44           0.0   処分
105       西部ｻｰﾋﾞｽ  I44           0.0   処分
106                I49       ヤード（雑品）  ヤード
107                L49           その他  ヤード
108                F49       ヤード（金庫）  ヤード
109                C49   ヤード（シュレッダー）  ヤード
110       ヤード（雑品）  I50           0.0  ヤード
111           その他  L50        1660.0  ヤード
112       ヤード（金庫）  F50         260.0  ヤード
113   ヤード（シュレッダー）  C50       11520.0  ヤード
114           総合計  O50      101130.0  NaN
115        合計_ヤード  未設定       13440.0  ヤード
116         合計_処分  未設定       66340.0   処分

   大項目  セル         値
0  搬出量  E6  101130.0
1  処分費  E7       NaN

## 仕入処分費

In [8]:
def process_syobun_cost(df_yard, df_shipping):

    logger = app_logger()

    # 出荷一覧処理
    # 処分費
    master_csv_shobun_cost = shobun_cost(df_shipping)

    # 金庫

    # ヤード一覧処理

    # 金庫_処分費

    return

In [9]:
master_csv1

   大項目  セル         値
0  搬出量  E6  101130.0
1  処分費  E7       NaN

In [10]:
df_shipping

    業者CD        業者名      金額            品名   正味重量
0   8327       丸源起業  305140      混合廃棄物(A)  13870
1   5238  東京ﾎﾞｰﾄﾞ工業   18340           木くず   2620
2      1       ｵﾈｽﾄ       0    金属くず ｼｭﾚｯﾀ    730
3      1       ｵﾈｽﾄ       0           鉄千地   1460
4    747         宮崎    3500       ﾀﾞﾝﾎﾞｰﾙ    250
5   5238  東京ﾎﾞｰﾄﾞ工業   14350           木くず   2050
6   8327       丸源起業   13850      混合廃棄物(A)      0
7   8425      東京産資源   16750      GB(ｷﾞﾛA)    500
8   8327       丸源起業   10590      混合廃棄物(B)      0
9   8425      東京産資源  120015      GB(ｷﾞﾛA)   3810
10  8425      東京産資源   94500      GB(ｷﾞﾛA)   3000
11  8425      東京産資源  106785      GB(ｷﾞﾛA)   3390
12  8425      東京産資源   62685      GB(ｷﾞﾛA)   1990
13  8334   ｱﾙﾌｧﾌｫﾙﾑ  135000     運搬費（澤希運輸）      0
14  8334   ｱﾙﾌｧﾌｫﾙﾑ  279620         混合廃棄物  12710
15  8425      東京産資源  104265      GB(ｷﾞﾛA)   3310
16     1       ｵﾈｽﾄ       0    GC軽鉄・ｽﾁｰﾙ類    560
17  5238  東京ﾎﾞｰﾄﾞ工業   19110           木くず   2730
18  8339       共同土木   97300  混合廃棄物（処理困難物）   2780
19  8327       丸源起業  307400      混合廃棄物(B)  10600
20  8463       鴻祥興業       0            込中    310
21  8463       鴻祥興業       0            配線   2270
22  8463       鴻祥興業   12650           鉄千地   2530
23  8340       木材開発   26800           木くず   2680
24  5238  東京ﾎﾞｰﾄﾞ工業   21140           木くず   3020
25  8215       杉田建材  424960     廃ﾌﾟﾗｽﾁｯｸ類  13280
26     1       ｵﾈｽﾄ       0    金属くず ｼｭﾚｯﾀ    490
27  8463       鴻祥興業       0          ﾓｰﾀｰ    530
28  8463       鴻祥興業       0        ﾗｼﾞｴﾀｰ    100
29  8463       鴻祥興業   26700            雑品    890
30  8463       鴻祥興業       0           上雑品    120
31   747         宮崎     570      ﾍﾟｯﾄﾎﾞﾄﾙ    190
32     1       ｵﾈｽﾄ       0          ｱﾙﾐ缶     60
33     1       ｵﾈｽﾄ       0          ｱﾙﾐ類    450
34     1       ｵﾈｽﾄ       0            金庫     40
35     1       ｵﾈｽﾄ       0            金庫     40

### 処分費

In [11]:
from logic.manage.utils.summary_tools import summary_apply


def shobun_cost(df_shipping):

    # --- ① マスターCSVの読み込み ---
    config = get_template_config()["balance_sheet"]
    master_path = config["master_csv_path"]["shobun_cost"]
    master_csv = load_master_and_template(master_path)

    # # 👇 業者CDを文字列に揃える
    df_shipping["業者CD"] = df_shipping["業者CD"].astype(str)
    master_csv["業者CD"] = master_csv["業者CD"].astype(str)

    # 処分費の総計
    key_cols = ["業者CD"]
    source_col = "金額"
    master_csv = summary_apply(
        master_csv,
        df_shipping,
        key_cols,
        source_col,
    )
    return master_csv


master_csv_shobun_cost = shobun_cost(df_shipping)
display(master_csv_shobun_cost)

/tmp/ipykernel_273019/3117396381.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_shipping["業者CD"] = df_shipping["業者CD"].astype(str)
2025-05-02 15:42:31,461 [INFO] (summary_tools.py:78) [dd3b4088c738/root] ▶️ マスター更新処理: キー=['業者CD'], 集計列=金額 ➡ 書き込み列=値

    業者CD           業者名   セル         値
0   8339          共同土木  NaN   97300.0
1   5238         東京ボード  NaN   72940.0
2   8340          木材開発  NaN   26800.0
3   8085        松岡環境開発  NaN       NaN
4   6421         アクトリー  NaN       NaN
5   8337            丸幸  NaN       NaN
6   8215          杉田建材  NaN  424960.0
7   8336          新潟環境  NaN       NaN
8   8327     丸源企業（ S ）  NaN  636980.0
9    705      北陸環境サービス  NaN       NaN
10  1185    築館ｸﾘｰﾝｾﾝﾀｰ  NaN       NaN
11  8076            高野  NaN       NaN
12  8077          トクヤマ  NaN       NaN
13  5199        砂町アスコン  NaN       NaN
14  8334      ｱﾙﾌｧﾌｫﾙﾑ  NaN  414620.0
15  6797           FDS  NaN       NaN
16  8338         ﾌｼﾞｺｰ  NaN       NaN
17  8341  ｸﾘｰﾝﾃｯｸｼｵｶﾞｲ  NaN       NaN
18  8080        ﾃﾞｲ・ｼｲ  NaN       NaN
19   349       TREｶﾞﾗｽ  NaN       NaN
20  6786            浜屋  NaN       NaN
21  5227         東港金属　  NaN       NaN
22  8329    ﾂﾈｲｼｶﾑﾃｯｸｽ  NaN       NaN
23  8360          国分商会  NaN       NaN
24  8363     ｴｺ･ﾏｲﾆﾝｸﾞ  NaN       NaN
25  8398         東瀝青建設  NaN       NaN
26  8679    市原ﾆｭｰｴﾅｼﾞｰ  NaN       NaN
27   339       西部ｻｰﾋﾞｽ  NaN       NaN
28  8082         ｸﾞﾗﾝﾏ  NaN       NaN

### 処分費_金庫

In [12]:
from utils.config_loader import get_unit_price_table_csv
from logic.manage.utils.multiply_tools import multiply_columns


def shobun_cost_kinko(df_shipping: pd.DataFrame) -> pd.DataFrame:
    """
    出荷データから処分コストを計算する関数

    Parameters
    ----------
    df_shipping : pd.DataFrame
        出荷データのDataFrame

    Returns
    -------
    pd.DataFrame
        単価×正味重量の「値」を含むマスターDataFrame
    """

    # --- ① マスターCSVの読み込み ---
    config = get_template_config()["balance_sheet"]
    master_path = config["master_csv_path"]["syobun_cost_kinko"]
    master_csv = load_master_and_template(master_path)

    # --- ② 正味重量の更新 ---
    key_cols = ["業者名", "品名"]
    source_col = "正味重量"
    master_with_weight = summary_apply(
        master_csv,
        df_shipping,
        key_cols,
        source_col,
        source_col,  # target_colとsource_colが同じ
    )

    # --- ③ 単価の設定 ---
    unit_price_csv = get_unit_price_table_csv()
    master_with_price = summary_apply(
        master_with_weight,
        unit_price_csv,
        key_cols,
        source_col="設定単価",
        target_col="設定単価",
    )

    # --- ④ 単価×正味重量の計算 ---
    result_df = multiply_columns(
        master_with_price, col1="設定単価", col2="正味重量", result_col="値"
    )

    return result_df


# --- 呼び出し例 ---
master_csv_shobun_cost = shobun_cost_kinko(df_shipping)
display(master_csv_shobun_cost)

2025-05-02 15:42:31,515 [INFO] (summary_tools.py:78) [dd3b4088c738/root] ▶️ マスター更新処理: キー=['業者名', '品名'], 集計列=正味重量 ➡ 書き込み列=正味重量
2025-05-02 15:42:31,538 [INFO] (summary_tools.py:78) [dd3b4088c738/root] ▶️ マスター更新処理: キー=['業者名', '品名'], 集計列=設定単価 ➡ 書き込み列=設定単価

  大項目   業者名  品名   セル       値  正味重量  設定単価
0  金庫  ｵﾈｽﾄ  金庫  NaN  4800.0  80.0  60.0

### 処分費_金庫_ヤード

In [13]:
from utils.config_loader import get_unit_price_table_csv
from logic.manage.utils.multiply_tools import multiply_columns


def shobun_cost_yard(df_yard: pd.DataFrame) -> pd.DataFrame:
    """
    Yardデータ（ヤード集荷）から処分コストを計算する関数。

    マスターCSVとYard出荷データをマージし、
    正味重量および単価を適用した上で、
    最終的な「単価 × 正味重量」の金額列（値）を計算する。

    Parameters
    ----------
    df_yard : pd.DataFrame
        Yard出荷データのDataFrame。

    Returns
    -------
    pd.DataFrame
        単価・正味重量・および「単価 × 正味重量（値）」を含む更新後のマスターDataFrame。
    """

    # --- ① マスターCSVの読み込み ---
    config = get_template_config()["balance_sheet"]
    master_path = config["master_csv_path"]["syobun_cost_kinko_yard"]
    master_csv = load_master_and_template(master_path)

    # --- ② 正味重量の更新 ---
    key_cols = ["種類名", "品名"]
    source_col = "正味重量"
    master_with_weight = summary_apply(
        master_csv,
        df_yard,
        key_cols,
        source_col,
        source_col,  # target_colとsource_colが同じ
    )

    # --- ③ 単価の設定 ---
    unit_price_csv = get_unit_price_table_csv()
    master_with_price = summary_apply(
        master_with_weight,
        unit_price_csv,
        key_cols,
        source_col="設定単価",
        target_col="設定単価",
    )

    # --- ④ 単価×正味重量の計算 ---
    result_df = multiply_columns(
        master_with_price, col1="設定単価", col2="正味重量", result_col="値"
    )

    return result_df


# --- 呼び出し例 ---
master_csv_shobun_cost = shobun_cost_yard(df_yard)
display(master_csv_shobun_cost)

2025-05-02 15:42:31,581 [INFO] (summary_tools.py:78) [dd3b4088c738/root] ▶️ マスター更新処理: キー=['種類名', '品名'], 集計列=正味重量 ➡ 書き込み列=正味重量
2025-05-02 15:42:31,603 [INFO] (summary_tools.py:78) [dd3b4088c738/root] ▶️ マスター更新処理: キー=['種類名', '品名'], 集計列=設定単価 ➡ 書き込み列=設定単価

  大項目  種類名  品名   セル        値   正味重量  設定単価
0  金庫  処分費  金庫  NaN  10800.0  180.0  60.0

### 処分費合計

In [14]:
master_csv1

   大項目  セル         値
0  搬出量  E6  101130.0
1  処分費  E7       NaN

In [ ]:
def sum_shobun(df_shobun,df_kinko, df_kinko_yard):

    # 列名を変更
    df_shobun = df_shobun.rename(columns={"業者CD": "大項目"})
    sum_shobun_total = df_shobun["値"].sum()

    # 合計
    match_columns = ["大項目"]
    match_value = ["処分費"]
    master_csv2 = set_value_fast_safe(master_csv1, match_columns, match_value, sum_shobun_total)

    return master_csv2

df_shobun = shobun_cost(df_shipping)
df_kinko = shobun_cost_kinko(df_shipping)
df_kinko_yard = shobun_cost_yard(df_yard)

master_csv2 = sum_shobun(df_shobun, df_kinko, df_kinko_yard)
master_csv2

/tmp/ipykernel_273019/3117396381.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_shipping["業者CD"] = df_shipping["業者CD"].astype(str)
2025-05-02 15:42:31,661 [INFO] (summary_tools.py:78) [dd3b4088c738/root] ▶️ マスター更新処理: キー=['業者CD'], 集計列=金額 ➡ 書き込み列=値
2025-05-02 15:42:31,730 [INFO] (summary_tools.py:78) [dd3b4088c738/root] ▶️ マスター更新処理: キー=['業者名', '品名'], 集計列=正味重量 ➡ 書き込み列=正味重量
2025-05-02 15:42:31,754 [INFO] (summary_tools.py:78) [dd3b4088c738/root] ▶️ マスター更新処理: キー=['業者名', '品名'], 集計列=設定単価 ➡ 書き込み列=設定単価
2025-05-02 15:42:31,785 [INFO] (summary_tools.py:78) [dd3b4088c738/root] ▶️ マスター更新処理: キー=['種類名', '品名'], 集計列=正味重量 ➡ 書き込み列=正味重量
2025-05-02 15:42:31,812 [INFO] (summary_tools.py:78) [dd3b4088c738/root] ▶️ マスター更新処理: キー=['種類名', '品名'], 集計列=設定単価 ➡ 書き込み列=設定単価

   大項目  セル          値
0  搬出量  E6   101130.0
1  処分費  E7  1673600.0

## 有価物

In [15]:
# def read_info():
    # --- ① マスターCSVの読み込み ---
config = get_template_config()["balance_sheet"]
master_path = config["master_csv_path"]["yuka_shipping"]
master_csv = load_master_and_template(master_path)

In [16]:
display(master_csv)
df_shipping

         業者名    値
0     ｴｺﾏｯｸｽ  NaN
1         宮崎  NaN
2     Y-maxx  NaN
3      ﾐﾀﾞｯｸ  NaN
4  東京紙業城東事業所  NaN
5         新洋  NaN
6   荒井商店【二次】  NaN

    業者CD        業者名      金額            品名   正味重量
0   8327       丸源起業  305140      混合廃棄物(A)  13870
1   5238  東京ﾎﾞｰﾄﾞ工業   18340           木くず   2620
2      1       ｵﾈｽﾄ       0    金属くず ｼｭﾚｯﾀ    730
3      1       ｵﾈｽﾄ       0           鉄千地   1460
4    747         宮崎    3500       ﾀﾞﾝﾎﾞｰﾙ    250
5   5238  東京ﾎﾞｰﾄﾞ工業   14350           木くず   2050
6   8327       丸源起業   13850      混合廃棄物(A)      0
7   8425      東京産資源   16750      GB(ｷﾞﾛA)    500
8   8327       丸源起業   10590      混合廃棄物(B)      0
9   8425      東京産資源  120015      GB(ｷﾞﾛA)   3810
10  8425      東京産資源   94500      GB(ｷﾞﾛA)   3000
11  8425      東京産資源  106785      GB(ｷﾞﾛA)   3390
12  8425      東京産資源   62685      GB(ｷﾞﾛA)   1990
13  8334   ｱﾙﾌｧﾌｫﾙﾑ  135000     運搬費（澤希運輸）      0
14  8334   ｱﾙﾌｧﾌｫﾙﾑ  279620         混合廃棄物  12710
15  8425      東京産資源  104265      GB(ｷﾞﾛA)   3310
16     1       ｵﾈｽﾄ       0    GC軽鉄・ｽﾁｰﾙ類    560
17  5238  東京ﾎﾞｰﾄﾞ工業   19110           木くず   2730
18  8339       共同土木   97300  混合廃棄物（処理困難物）   2780
19  8327       丸源起業  307400      混合廃棄物(B)  10600
20  8463       鴻祥興業       0            込中    310
21  8463       鴻祥興業       0            配線   2270
22  8463       鴻祥興業   12650           鉄千地   2530
23  8340       木材開発   26800           木くず   2680
24  5238  東京ﾎﾞｰﾄﾞ工業   21140           木くず   3020
25  8215       杉田建材  424960     廃ﾌﾟﾗｽﾁｯｸ類  13280
26     1       ｵﾈｽﾄ       0    金属くず ｼｭﾚｯﾀ    490
27  8463       鴻祥興業       0          ﾓｰﾀｰ    530
28  8463       鴻祥興業       0        ﾗｼﾞｴﾀｰ    100
29  8463       鴻祥興業   26700            雑品    890
30  8463       鴻祥興業       0           上雑品    120
31   747         宮崎     570      ﾍﾟｯﾄﾎﾞﾄﾙ    190
32     1       ｵﾈｽﾄ       0          ｱﾙﾐ缶     60
33     1       ｵﾈｽﾄ       0          ｱﾙﾐ類    450
34     1       ｵﾈｽﾄ       0            金庫     40
35     1       ｵﾈｽﾄ       0            金庫     40

In [18]:
# 合計
df = df_shipping.groupby("業者名")["金額"].sum()
df

業者名
丸源起業         636980
共同土木          97300
宮崎             4070
木材開発          26800
杉田建材         424960
東京産資源        505000
東京ﾎﾞｰﾄﾞ工業     72940
鴻祥興業          39350
ｱﾙﾌｧﾌｫﾙﾑ     414620
ｵﾈｽﾄ              0
Name: 金額, dtype: int64