In [1]:
import pandas as pd

df = pd.DataFrame(
    {
        "業者CD": ["8327", "8327", "8327", "8085"],
        "品名": ["混合廃棄物(S)", "混合廃棄物(S)", "混合廃棄物(A)", "混合廃棄物(S)"],
        "正味重量": [2000, 1500, 3000, 1200],
    }
)

In [2]:
df

   業者CD        品名  正味重量
0  8327  混合廃棄物(S)  2000
1  8327  混合廃棄物(S)  1500
2  8327  混合廃棄物(A)  3000
3  8085  混合廃棄物(S)  1200

In [4]:
df.groupby("業者CD")["正味重量"].sum()

業者CD
8085    1200
8327    6500
Name: 正味重量, dtype: int64

In [5]:
df.groupby(["業者CD", "品名"], as_index=False)["正味重量"].sum()

   業者CD        品名  正味重量
0  8085  混合廃棄物(S)  1200
1  8327  混合廃棄物(A)  3000
2  8327  混合廃棄物(S)  3500

In [1]:
person = {
    "名前": "田中",
    "年齢": 34,
    "性別": "男性",
    "職業": "エンジニア",
    "住所": "東京都"
}

In [2]:
match_keys = ["名前", "年齢"]

result = {}
for key in match_keys:
    result[key] = person[key]

In [4]:
result

{'名前': '田中', '年齢': 34}

In [6]:
person["名前"]="宮下"
person

{'名前': '宮下', '年齢': 34, '性別': '男性', '職業': 'エンジニア', '住所': '東京都'}

In [7]:
pesron.items("男性")

NameError: name 'pesron' is not defined

In [9]:
result=[]

In [10]:
for i in range(1,6):
    result.append(i*2)

In [11]:
result = [i**2 for i in range(1,6)]

In [13]:
# 1～5を2倍にしてリストを作る

result = [num*2 for num in range(1,6)]
result

[2, 4, 6, 8, 10]

In [14]:
# 　偶数だけ取り出す
numbers = [1,2,3,4,5,6]

result = [x for x in numbers if x % 2 ==0]
result

[2, 4, 6]

In [15]:
result = [i**2 for i in range(1,10)]
result

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
filterd = [x for x in range(1,20) if x % 3 == 0]
filterd

[3, 6, 9, 12, 15, 18]

In [19]:
words = ["apple", "dog", "sun", "banana", "cat"]

result = [word for word in words if len(word) <4]
result

['dog', 'sun', 'cat']

In [ ]:
[word for num in range(1,10) if num % 2 == 0 then word="even" else word="odd"]

In [21]:
["even" if num % 2 == 0 else "odd" for num in range(1, 10)]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [23]:
a = [1, 2, 3]
b = [10, 20, 30]

In [28]:
[a_num[i] * b_num[i] for a_num in a for b_num in b for i in range(0,3)]

TypeError: 'int' object is not subscriptable