In [1]:
import pandas as pd

df = pd.DataFrame(
    {
        "業者CD": ["8327", "8327", "8327", "8085"],
        "品名": ["混合廃棄物(S)", "混合廃棄物(S)", "混合廃棄物(A)", "混合廃棄物(S)"],
        "正味重量": [2000, 1500, 3000, 1200],
    }
)

In [2]:
df

   業者CD        品名  正味重量
0  8327  混合廃棄物(S)  2000
1  8327  混合廃棄物(S)  1500
2  8327  混合廃棄物(A)  3000
3  8085  混合廃棄物(S)  1200

In [4]:
df.groupby("業者CD")["正味重量"].sum()

業者CD
8085    1200
8327    6500
Name: 正味重量, dtype: int64

In [5]:
df.groupby(["業者CD", "品名"], as_index=False)["正味重量"].sum()

   業者CD        品名  正味重量
0  8085  混合廃棄物(S)  1200
1  8327  混合廃棄物(A)  3000
2  8327  混合廃棄物(S)  3500